.am_wp_piclist{font-family:Verdana,"微软雅黑";margin:30px 20px 0 0;}
.am_wp_piclist h3{font-size:18px;background:#E8E8E8;padding:10px;}
.am_wp_piclist .item{border-bottom:#999 1px solid;padding:0 10px;}
.am_wp_piclist .msg{color:#999;}
.am_wp_piclist div.bor{margin:5px 0;}
.am_wp_piclist .submit-btn{padding:10px 5px;}
.am_wp_piclist .gtable td{padding-top:5px;}
.am_wp_piclist .gtable td.fs{border-bottom:#999 1px dotted;padding:0 0 5px 0;}